* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.css-color, .css-color .hideMore{
  display: none;
  position: absolute;
  z-index:99999;
 	background: #fff;
 	width:202px;
	padding:4px;
  border:1px solid #D7DCE6;
  font-family:georgia, times new roman,serif,ו;
	font-size:12px;
  line-height:2em;
}
.lv_color {
	height: 22px;
	line-height: 20px;
	padding: 0 40px 0 2px;
	width: 100px;
	cursor: pointer;
	background: url(color.png) #fff right center no-repeat;
	border: 1px solid #DDD;
	margin-right: 10px;
}
.css-color ul{
	float: left;
	margin:0px;
	padding:0px;
}
.css-color ul li, .css-color .c2 li{
	float: left;
	width: 15px;
	height: 16px;
	*width: 14px;
	*height: 15px;
	list-style: none;
	line-height:1.8em;
	cursor:pointer;
	border:1px solid #C0C0C0;
	margin:2px;
}
.css-color .spacebar{
	clear:both;
	line-height:7px;
	height:7px;
}
.css-color .c2 li{
	border-width:0 1px 0 1px;
	margin:0px 2px 0px 2px;
}
.css-color .c2 li.topLi{
	border-top:1px solid #C0C0C0;
}
.css-color .c2 li.bottomLi{
	border-bottom:1px solid #C0C0C0;
}
.css-color a{
	color: #629BBC;
	text-decoration: none;
	float:right;
}
.css-color .moreDiv{
	display:none;
}
.css-color .moreUl{
	margin:0px;
	overflow:hidden; 
	line-height:0px;
	font-size:0px;
}
.css-color .moreUl ul {
	margin:0px;
	overflow:hidden; 
	line-height:0px;
	font-size:0px;
}
.css-color .moreUl ul li{
	width:14px;
	height:12px;
	margin:0px;
	border:none;
	overflow:hidden; line-height:0px; font-size:0px;
}
.css-color .moreUl .mul0, .css-color .moreUl .mul12{
	margin-left:52px;
	_margin-left:26px;
}
.css-color .moreUl .mul1, .css-color .moreUl .mul11{
	margin-left:45px;
	_margin-left:22px;
}
.css-color .moreUl .mul2, .css-color .moreUl .mul10{
	margin-left:38px;
	_margin-left:19px;
}
.css-color .moreUl .mul3, .css-color .moreUl .mul9{
	margin-left:31px;
	_margin-left:15px;
}
.css-color .moreUl .mul4, .css-color .moreUl .mul8{
	margin-left:24px;
	_margin-left:12px;
}
.css-color .moreUl .mul5, .css-color .moreUl .mul7{
	margin-left:17px;
	_margin-left:9px;
}
.css-color .moreUl .mul6{
	margin-left:10px;
	_margin-left:5px;
}
.css-color .pre,.css-color .cur{
	float:left;
	width:15px;
	height:15px;
	line-height:15px;
	border:1px solid #C0C0C0;
	margin:0px 2px 0px 2px;
}
.css-color .preText,.css-color .curText{
	float:left;
	width:70px;
	font-size:12px;
	margin:0px;
}
.css-color .btnClose{
	float:right;
	cursor:pointer;
	padding-top:4px;
}
.css-color .btnClose span{
	border:1px solid #D7DCE6;
	padding:1px 5px 2px 5px;
	margin:4px 0px 0px 4px;
	background-color: #f0f0f0;
}
.clear{
	clear:both;
	overflow:hidden;
	line-height:0px;
	font-size:0px;
	height:0px;
}